LEAD_TO_EMAIL=info@bugmanplus.com
LEAD_FROM_EMAIL="Bugman Plus Website <leads@bugmanplus.com>"
RESEND_API_KEY=
LEAD_WEBHOOK_URL=
UPLIFTAI_TOKEN=
UPLIFTAI_API_BASE_URL=https://api.upliftai.co
UPLIFTAI_BLOG_STATUS=PUBLISH
